html {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

img {
    width: 100%;
}

.welcome {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding-left: 1.5rem;
}

.post {
    margin: 4rem; 
    width: 100%;
    max-width: 98rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.post__img {
    min-width: 25rem;
    max-width: 25rem;
    height: 30rem;
    transform: translateX(-6rem);
    position: relative;
}

.post__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.post__img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient(to right, rgba(79, 172, 254, .8),rgba(0, 242, 254, .8)); */
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
}

.post__info {
    transform: translateX(-4rem);
}

.post__text {
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}

@media screen and (max-width: 1068px) {
    .post {
        max-width: 80rem;
    }

    .post__img {
        min-width: 20rem;
        max-width: 20rem;
    }
}

@media  screen and (max-width: 868px) {
    .post {
        max-width: 70rem;
    }

    .post__img {
        transform: translateX(-4rem);
    }

    .post__info {
        transform: translateX(-1rem);
    }
}

@media  screen and (max-width: 768px) {
    .welcome {
        padding-left: 0;
    }
    .post {
        margin: 1rem;       
        padding: 2.5rem;
        flex-direction: column;
    }

    .post__img {
        max-width: 100%;
        height: 35rem;
        transform: translateY(0.1rem);
    }

    .post__info {
        transform: translateX(0);
    }

    .heading {       
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}