.philosophy .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 6rem;
}

.philosophy .box-container .box{
    max-width: 49rem;
    flex:1 1 30rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:1rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.philosophy .box-container .box img{
    width: 20rem;
}

.philosophy .box-container .box h3{
    /* font-size: 2rem; */
    font-size: var(--font-size-title-h4);
    color:#333;
    padding-top: 1rem;
    
}

.philosophy .box-container .box p{
    font-size: var(--font-size-text);
    color:#666;
    padding: 1rem 0;
    text-align: justify;
}
