/* Footer */
footer {
    width: 100%;
    background-color:#612a65;
    color: #eee;
    padding: 3rem 1rem;
    
    /* display: grid;
    place-content: center;
     */
}

footer .container{
    max-width: 1240px;
    margin: auto;
    place-content: center;
    
}


footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;

}

footer li {
    padding: .2rem;
    
}

footer li a {
    color: #fff !important;
    text-decoration-line: none;
}

footer li a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid var(--primary);
}

.bottom {
    text-align: center;
    padding-top: 1rem;
    color: #fff;
}

.line {
    margin-bottom: 1rem;
}

footer .disclosureText {
    text-align: justify;
    text-justify: inter-word;
    color: #fff;
    margin: 15px 0 15px;
}

footer a {
    text-decoration-line: none;
}

footer li.contactText  {
    padding: 0;
    margin: 0;
    line-height:0    
}

.container .content a {
    display: block;
    font-size: 1rem;
    color: #fff !important;
    text-decoration: none;
} 

.container .content a i{
    padding-top: 10px;
    color: #fff;
}

.container .content a:hover {
    color: var(--primary) !important;
}


.fa-phone-alt:before {
    content: "\f2a0";
}

.fa-at:before {
    content: "\f1fa";
}
.fa-map-marker-alt{
    content: "\f3c5";
}
.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i {

    color: #ffff;
    font-size: 30px;
    padding-left: 2px;
    width: 40px;
    height: 40px;
    /* text-align: center; */
    /* position: relative; */
    left: 5px;

}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px){
    footer .container{
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;

    }

    footer .contactText{
        width: 100%;
        height: auto;
    }

    footer li a:hover {
        padding-bottom: 3px;
        border-bottom: 3px solid #9CA30C;
    }
}

/* Small Devices, Tablets */
@media screen and (max-width: 600px){
    footer .container{
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;

    }

    footer .servicesList{
        width: 100%;
        margin-top: 20px;
    }

    footer .contactTextCol{
        width: 100%;
        height: auto;
        font-size: 1.2rem;
        margin-top: 20px;
    }

    footer li a:hover {
        padding-bottom: 3px;
        border-bottom: 3px solid #9CA30C;
    }

    footer .disclosureText {
        margin: 10px;
        word-spacing: 0;
    }
    
}

/* End Footer */