
.mainContainerCard {
    
    max-width: 1200px;
    height: 700px;
    /* max-height: 1000px; */
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.theCard {
    width: 350px;
    height: 600px;
    margin-left: 20px;
    float: left;
    transform-style: preserve-3d;
    transition: all 0.7s ease;
    /* transition: transform .5s linear 0s; */
}


.theCard:hover{
    transform: rotateY(180deg);
}

.theCard .theFront {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    backface-visibility: hidden;
    background: #fff;
    color: #333;
    border-radius: 20px;
}

.theBack1 {
    position: absolute;
    width: 100%;
    height: 70%;
    padding: 10px 10px 10px 10px;
    backface-visibility: hidden;
    background: #fafafa;
    color: #333;
    transform: rotateY(180deg);
    text-align: center;
}

.theBack2 {
    position: absolute;
    width: 100%;
    height: 70%;
    padding: 10px 10px 10px 10px;
    backface-visibility: hidden;
    background: #fafafa;
    color: #333;
    transform: rotateY(180deg);
    text-align: center;
}
.theBack3 {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    backface-visibility: hidden;
    background: #fafafa;
    color: #333;
    transform: rotateY(180deg);
    text-align: center;
}
.mainContainerCard .theCard .img_back_business {
    width: 100%;
    height: 200px;
    /* position: absolute; */
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 400ms;
    text-align: center;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    
}