:root{
    --primary:#9CA30C;
    --primary-light:#6b7000;
    /* --primary-light:#37a30c; */
    --secondary:#612a65;
    --secondary-light:#F83292;

    --gradient:linear-gradient(90deg, var(--primary), var(--primary-light));
    --gradient-secondary:linear-gradient(90deg, var(--secondary), var(--secondary-light));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}


/* Title */
.heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bolder;
}

p {
    text-align: justify;
    /* font-size: 1.34rem; */
    margin: 20px 20px;
}

h3 {
    color: #9CA30C;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

h5 {
    color: #333;
    font-size: 1.3rem ;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}