footer {
    width: 100%;
    padding: 2rem;
    background-color: purple;
    color: aliceblue;
    display: grid;
    place-content: center;
    font-size: .75rem;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;

}
ul.list {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

}

.list li a {
    padding: 0 0 0 0;
    color: rgb(209, 43, 43);
    font-size: 1rem;
    text-decoration-line: none;
    color: #ffff !important;
}


p a {
    text-decoration-line: none;
    color: #9CA30C !important;
    font-size: .8rem;
}

h4 {
    color: #9CA30C;
}

.contactText  {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.fa-phone-alt:before {
    content: "\f2a0";
}

.fa-at:before {
    content: "\f1fa";
}
.fa-map-marker-alt{
    content: "\f3c5";
}
.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i {

    color: #ffff;
    font-size: 30px;
    padding-left: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    position: relative;
    left: -5px;
    /* top: 7.5px; */
    /* transform:rotate(80deg); */
}

